body{
    background-color: 
    #66ff00b5 ;
}
h1{
    font-family: Curlz MT ;
    background-color: #339900   ;
}
h2{
    font-family: MS Serif;
    background-color: rgb(224, 255, 50);
}
